* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif
}
body
{
    min-width: 100vw;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background: white;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.imgContainer {
    overflow: hidden;
}

.container .card{
    max-width: 300px;
    height: 215px;
    margin: 30px 10px;
    padding: 20px 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}
.container .card:hover
{
    height: 450px;
}
.container .card .imgContainer
{
    position: relative;
    width:250px;
    height:250px;
    top:-50px;
    left:10px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.container .card .imgContainer img
{
    max-width: 100%;
    border-radius: 4px;
}
.container .card .card-body
{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color:#111;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
}
.container .card:hover .card-body
{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

.card-title{
    font-size: 1.5rem;
}

.card-text {
    font-size: 1rem;
}